@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210 15% 95%; /* #EBF3FA */
    --foreground: 210 29% 25%; /* #2c3e50 */
    --card: 0 0% 100%; /* #FFFFFF */
    --card-foreground: 210 29% 25%; /* #2c3e50 */
    --popover: 0 0% 100%; /* #FFFFFF */
    --popover-foreground: 210 29% 25%; /* #2c3e50 */
    --primary: 25 99% 57%; /* #fe7823 */
    --primary-foreground: 0 0% 98%;
    --secondary: 213 65% 33%; /* #1e4c87 */
    --secondary-foreground: 0 0% 98%;
    --muted: 210 25% 90%; /* #E0E6ED */
    --muted-foreground: 210 20% 45%;
    --accent: 30 88% 96%; /* #fef5ec */
    --accent-foreground: 25 99% 57%; /* #fe7823 */
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 210 20% 88%;
    --input: 210 20% 92%;
    --ring: 25 99% 57%;
    --radius: 0.5rem;
    --nav-link-foreground: 215 14% 27%;
  }
 
  .dark {
    --background: 213 40% 10%;
    --foreground: 210 15% 95%;
    --card: 213 40% 12%;
    --card-foreground: 210 15% 95%;
    --popover: 213 40% 12%;
    --popover-foreground: 210 15% 95%;
    --primary: 25 99% 57%;
    --primary-foreground: 0 0% 98%;
    --secondary: 213 65% 33%;
    --secondary-foreground: 0 0% 98%;
    --muted: 213 40% 20%;
    --muted-foreground: 210 15% 80%;
    --accent: 25 99% 20%;
    --accent-foreground: 25 99% 90%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 213 40% 20%;
    --input: 213 40% 20%;
    --ring: 25 99% 57%;
    --nav-link-foreground: 215 14% 70%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  section {
    @apply w-full py-12 md:py-24 lg:py-32;
  }
}
